table.transferGridTable {
  border-style:solid;
  border-width:1px;
}

table.transferGridTable td {
  height:16px;
  min-width:16px;
  text-align:center;
}

table.transferGridTable td.checkedCell {
  background-color:#87CEEB;
}

table.transferGridTable td.uncheckedCell {
  background-color:#F7F7F7;
}

table.transferGridTable td.highlightedCell {
  background-color:#FF0000;
}

table.transferGridTable th.headerCell {
  text-align:center;
}

